{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<div style="margin-top: 40px;"></div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div style="color: #fbae00; font-family: 'Permanent Marker', cursive;">
					<h1 class="text-center">Register</h1>

					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm) }}
					<div class="form-group">
						{{ form_label(registrationForm.email, null, {'label_attr': {'style': 'color: #fbae00;'}}) }}
						{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'style': 'color: #fbae00;'}}) }}
						{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.nomcinema, 'Cinema Name', {'label_attr': {'style': 'color: #fbae00;'}}) }}
						{{ form_widget(registrationForm.nomcinema, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.agreeTerms, 'Agree to Terms', {'label_attr': {'style': 'color: #fbae00;'}}) }}
						{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-control'}}) }}
					</div>

					<button type="submit" class="btn btn-primary btn-block" style="background-color: #fbae00;">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>

    	<div style="margin-top: 40px;"></div>

{% endblock %}
