{% extends 'base.html.twig' %}

{% block title %}Éditer la salle
	{{ salle.nom }}
{% endblock %}

{% block body %}
	<div style="margin-top: 20px;"></div>

	<div class="container">
		<h1 class="mt-4 mb-4">Éditer la salle "{{ salle.nom }}"</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.nom, 'Nom de la salle', {'label_attr': {'style': 'font-family: "Permanent Marker", cursive; color: #fbae00;'}}) }}
			{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'style': 'background-color: #fbae00; color: #000a32;'} }) }}
		</div>

		<div class="form-group">
			{{ form_label(form.nombrePlaces, 'Nombre de places', {'label_attr': {'style': 'font-family: "Permanent Marker", cursive; color: #fbae00;'}}) }}
			{{ form_widget(form.nombrePlaces, { 'attr': {'class': 'form-control', 'style': 'background-color: #fbae00; color: #000a32;'} }) }}
		</div>
		<div style="margin-top: 5px;"></div>

		<button type="submit" class="btn btn-primary" style="background-color: #fbae00;">Enregistrer</button>
		{{ form_end(form) }}
	</div>

	<div style="margin-top: 20px;"></div>

{% endblock %}
